<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mantenedor.My.MySettings.MantenedorConnectionString"
            connectionString="Data Source=LAPTOP-1BNG6NFI;Initial Catalog=Mantenedor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Mantenedor.My.MySettings.MantenedorConnectionString1"
            connectionString="Data Source=DESKTOP-HKI745B;Initial Catalog=Mantenedor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>